.seccion-seleccion-carga {
    width: 100%;
    min-height: calc(100vh - var(--header-height, 75px) - var(--footer-height, 182px));
    padding-bottom: 40px;
    background-color: #f0f0f0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-carga {
    width: 50%;
    height: auto;
    min-height: 500px;

    

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;

    gap: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo-carga {
    width: 100%;
    padding: 0px 0px 10px 0px;

    text-align: center;
    font-size: 2rem;
    color: #333;
}


.separacion-botones {
    width: 100%;
    height: 60%;
    padding: 20px;

    gap: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contenedor-boton {
    width: 50%;
    height: 100%;

    gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); */
}

.botones-carga {
    padding: 5px 20px;
    font-size: 1.4rem;
    color: #f8f9fa;
    background-color: #4eb91c;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.boton-rojo {
    background-color: #dd3232;
}


.botones-carga:hover {
    /* background-color: #11507a; */
    background-color: #337a11;
    transform: scale(1.05);
    transition: transform .3s ease-in-out, background-color .5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.boton-rojo:hover {
    background-color: #aa1111;
    transform: scale(1.05);
    transition: transform .3s ease-in-out, background-color .5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.volver {
    width: 100%;
    padding: 10px;

}

.boton-volver {
    padding: 5px 15px;
    font-size: 1rem;
    color: #f8f9fa;
    background-color: #B91C1C;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.boton-volver:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}