.seccion-turnero {
    width: 100%;
    min-height: calc(100vh - var(--header-height, 75px) - var(--footer-height, 182px));
    padding-bottom: 40px;
    background-color: #f0f0f0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-turnero {
    width: 60%;
    /* min-height: calc(100vh - var(--header-height, 75px) - var(--footer-height, 182px)); */
    /* height: 100%; */
    height: 600px;


    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.contenedor-turnero .titulo-turnero {
    width: 100%;
    padding: 0px 0px 10px 0px;

    text-align: center;
    font-size: 2rem;
    color: #333;
}

/* .contenedor-turnero .subtitulo-turnero {
    width: 100%;
    padding: 10px 0;

    text-align: center;
    font-size: 1.5rem;
    color: #666;
} */

.contenedor-formulario {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
}

.contenedor-formulario .formulario-turno {
    width: 100%;
    height: 100%;

    gap: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); */
}


.fechas-disponibles {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    /* padding: 20px; */
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

/* BOTONES MEDICOS */

:root {
    --color-boton-radio-medicos: #b43232;
    --color-boton-radio-medicos: #32b448;
    --color-boton-radio-medicos: #218d52;
    --color-boton-radio-medicos: #a32222;
    
}

.fondo {
    width: auto;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-inputs {
    position: relative;
    height: 6.5rem;
    width: 6.5rem;
    margin: 0.5rem;
}

.contenedor-inputs input {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.contenedor-texto-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 2px solid #355236; */
    border: 2px solid var(--color-boton-radio-medicos);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contenedor-texto-input i {
    color: #355236;
    font-size: 3rem;
    padding: 10px;
}

.contenedor-texto-input label {
    color: #355236;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input:checked+.contenedor-texto-input {
    /* background-color: #355236;
    box-shadow: 0 0 12px #355236; */
    background-color: var(--color-boton-radio-medicos);
    box-shadow: 0 0 12px var(--color-boton-radio-medicos);
}

input:hover+.contenedor-texto-input {
    /* box-shadow: 0 0 12px #355236; */
    box-shadow: 0 0 12px var(--color-boton-radio-medicos);
}

input:checked+.contenedor-texto-input i,
input:checked+.contenedor-texto-input label {
    color: #fff;
}



/* FIN BOTONES MEDICOS */


.formulario-turno .formulario-selecionable {
    width: 55%;
    height: 100%;

    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

.formulario-turno .formulario-selecionable .formulario-division {
    width: 100%;
    height: auto;

    gap: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* padding: 8px 8px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9); */
}

.formulario-division .opciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.formulario-division .opciones .apellido {
    text-transform: uppercase;
}

.formulario-division .opciones .nombre,
.formulario-division .opciones .localidad {
    text-transform: capitalize;
}


.formulario-division .opciones .confirmar-dni {
    width: 100%;

    gap: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formulario-division .opciones label {
    font-size: 1.2rem;
    color: #555;
}

.formulario-division .opciones input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    /* border-radius: 0px; */
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;

    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.formulario-division .opciones .motivo {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    /* border-radius: 0px; */
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;

    font-size: 1rem;
    color: #333;
    /* font-weight: bold; */
}


.formulario-division .opcion-solitaria input {
    width: 100%;
}

.formulario-division .opcion-solitaria .dni {
    color: #2aaf26;
}

.formulario-division .opciones .check-confimacion {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #f8f9fa;
    cursor: pointer;
}


.formulario-turno .btn-enviar-turno {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}